fastapi==0.111.0
langchain
langchain-community
langgraph
langchain-openai
langchain-ollama
langchain-postgres
urllib3 >= 1.25.3, < 2.1.0
# chromadb==0.5.4
pysqlite3-binary
psycopg[binary]
python-json-logger
ruamel_yaml
# PyJWT==2.8.0
python-json-logger
sqlmodel